.exth2{
	font-size: 20px;
	color: #99ccff;
}

.exthr{
	color: #ff4d4d;
}

.extp{
	color:#cc99ff;
	font-size: 20px;
}
.exta{
	color:red;
	font-size: 20px;
}

.hding{
	color: white;
	font-size: 20px;
	text-align: center;
}